* {
    border: 0px;
    margin: 0px;
    padding: 0px;
    color: #303133;
}
a {
    text-decoration: none;
    color: black;
}
a:hover{
    color: #0077ff;
}
#app{
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;
    background-image: url("../image/bg.png");
    background-size: cover;
}
